* {
  box-sizing: border-box;
}

body {
  background-color: #f9f9fa;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/*begin nav styles*/
nav {
  background-color: #524649;
  color: #b2a1b1;
  display: flex;
  font-weight: 800;
  justify-content: space-between;
}

.logo {
  font-size: 37.5px;
  padding: 10px 20px 10px 20px;
}

span {
  color: #fff;
}

.search-contain {
  display: flex;
  padding: 12px 20px 10px 0px;
}

.search-bar {
  border: solid 2px #d2cccd;
  border-radius: 5px 0px 0px 5px;
  color: #d2cccd;
  flex: 1;
  font-size: 15px;
  font-weight: 300;
  padding-left: 5px;
}

.search-btn {
  background-color: #d2cccd;
  border-radius: 0px 5px 5px 0px;
  border: solid 2px #d2cccd;
  color: #fff;
}

.fa-search {
  font-size: 20px;
}

/*begin header style*/
header {
  align-items: center;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
}

.header-sect {
  width: 60%;
  height: 250px;
}

p {
  padding-bottom: 5px;
  font-size: 20px;
}

.title-input {
  height: 15%;
  margin-bottom: 20px;
  width: 99%;
}

.body-input {
  height: 30%;
  margin-bottom: 20px;
  width: 99%;
}

.save-btn {
  background-color: #524649;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 800;
  height: 15%;
  width: 100%;
}

/*begin main styles*/
.dropdown-selector {
  display: block;
  font-size: 16px;
  height: 30px;
  margin: 20px auto;
  width: 60%;
}

.idea-card-sect,
.body-input,
.title-input, 
.dropdown-selector {
  border: 2px solid #d2cccd;
  border-radius: 5px;
}

.idea-card-sect{
  display: grid;
  grid-template-rows: 4fr 1fr;
  height: 200px;
  margin: auto;
  padding: 0px 16px;
  width: 60%;
}

.card-art {
  border-bottom: 2px solid #d2cccd;
  padding: 16px 0px;
}

.title-card-style {
  font-weight: 800;
  font-size: 25px;
  color: #524649;
}

.bodfy-card-style {
  padding-top: 10px;
}

.quality-art {
  display: grid;
  grid-template-columns: 40px 40px 1fr 40px;
}

.card-btns {
  height: 30px;
  width: 30px;
  padding: 5px 0px 0px 5px; 
}

.quality-name {
  font-size: 17px;
  font-weight: 800;
  padding: 8px 0px 0px 8px;
}

/*media query for mobile*/
@media screen and (max-width: 575px) {
  nav {
    align-items: center;
    flex-direction: column;
  }

  .logo {
    margin: 0 1%;
  }

  .search-contain {
    margin: 0 1%;
  }

}